HOST_ADDRESS = 'your development localhost address or production homepage address goes here (e.g. 'http://localhost:3000')'
DATABASE_URL = 'database connection to mongodb for example ( e.g. 'mongodb+srv://<username>:<password>@urbanise.x8f8qco.mongodb.net/?retryWrites=true&w=majority')'