@use '../../../styles/colors.scss'as c;

.container {
    display        : flex;
    flex-flow      : column;
    justify-content: center;
    align-items    : center;
    height         : 40vh;
    width          : 35vw;
    row-gap        : 0.5rem;
    min-width      : 320px;
    max-width      : 380px;
    height         : fit-content;
    border         : 4px solid c.$primary-500;
    box-shadow     : c.$box-shadow-form;
    border-radius  : 1.5rem;
    padding-bottom: 1rem;
}

.input {
    outline     : 0;
    border-width: 0 0 1px;
    border-color: c.$gray-300;
    width       : 100%;
    max-width   : 60%;
    height      : 32px;
    font-size   : 1.5rem;

    &::placeholder {
        color      : c.$gray-300;
        font-size  : 24px;
        line-height: 30px;
    }

    &--textarea {
        height: 80px;
    }
}