$black-100   : hsl(0, 0%, 10%);
$gray-100    : hsl(0, 0%, 95%);
$gray-300    : hsl(0, 0%, 80%);
$gray-800    : hsl(0, 0%, 30%);
$red-500     : hsl(0, 100%, 50%);
$red-700     : hsl(0, 70%, 45%);
$orange-500  : hsl(40 100% 70%);
$primary-500 : hsl(110, 80%, 30%);
$primary-700 : hsl(110, 80%, 20%);

$box-shadow-black-500      : 0 1px 2px 0 hsla(0, 0%, 0%, 0.5);
$text-shadow-black-800     : 0px 4px 4px hsla(0, 0%, 0%, 0.25);
$box-shadow-form           : -5px 4px 16px rgba(0, 0, 0, 0.5);
$box-shadow-product-orange : -5px 4px 16px rgba(255, 179, 87, 0.5);
$box-shadow-product-red    : -5px 4px 16px rgba(220, 59, 59, 0.5);
$box-shadow-product-green  : -5px 4px 16px hsl(110, 80%, 20%, 0.5);